fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
httpx
numpy
openpyxl
reportlab
pydantic
apscheduler
facenet-pytorch
Pillow
python-multipart
torch
# pip install torch --index-url https://download.pytorch.org/whl/cpu