fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
httpx
numpy>=2.0.0
openpyxl
reportlab
pydantic
apscheduler
facenet-pytorch
Pillow
python-multipart
torch
# pip install torch --index-url https://download.pytorch.org/whl/cpu